header {
	border:3px solid yellow; 
	margin:5px; 
	padding:10px; 
}
#nav {
    width: 1258px;
    height: 35px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: black;
    border-radius: 2px;
	width:100%;

}
#nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#nav li { 
	display: inline; 
	padding: 20px; 
}
#nav a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}
#nav a:hover {
	color: black;
	background-color: yellow;
	font-family: sans-serif;
	}
#body {
	font-size: 1em; 
	font-family: sans-serif; 
	color: #000099;
	border:3px solid grey; 
	margin:10px; 
	padding:10px; 
	color: black;
	background-color: #CCCCCC;
	float:right;
}



#footer {
	font-size: 1em; 
	color: white;
	font-family: sans-serif; 
	border:3px solid yellow; 
	margin:5px; 
	padding:10px;
	background-color:black;
	text-align: center;
	}
	
	
	
	
	
	
